@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif; 
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: white;
    padding: 13px 20px 42px 30px;
    width: 870px;
    border-radius: 8px;
    margin-bottom: 20px;
    
}

/* top player */

.player-title{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    font-size: 18px;
    padding-left: 16px;
}


hr{
    margin: 30px 0px 20px;
}

/* top blog */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 177px;
    height: 177px;
    margin-right: 16px;
}
h3{
    font-size: 20px;
}
.blog-info{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-info a{
    text-decoration: none;
    color: #562EFF;
}

/* latest course */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 26px;
    padding-right: 16px;
}
.course{
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.05);
    padding-bottom: 16px;
    padding-left: 12px;
    padding-top: 14px;
    border-radius: 10px;
}
.banner img{
    width: 225px;
    height: 106px;
}
.course-detail h3{
    margin-bottom: 0px;
}
.course-detail p{
    color: #ED6B4F;
    margin-top: 6px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filled{
    color: #FFC014;
}
.empty{
    color: #AEAEAE;
}
.rating-percent{
    color: #AEAEAE;
    margin-left: -10px;
}
.hour{
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 4px 11.5px;
    color: #FF4A60;
}
.fa-clock{
    margin-right: 6px;
}
